.logmain {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.logmain__top--button {
  height: 50px;
  width: 100px;
}
.logmain__other {
  align-self: center;
  text-align: center;
  justify-self: center;
}
.logmain__other--text {
  font-size: 50px;
}
.logmain__other--input {
  font-size: 35px;
  margin-top: 10px;
  height: 50px;
  width: 300px;
}
.logmain__other--button {
  margin-top: 10px;
  height: 50px;
  width: 100px;
}

.amain {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 50px 9fr;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
.amain__header {
  display: flex;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffe79a;
  border: solid 3px #000000;
}
.amain__header__view {
  display: flex;
  gap: 10px;
}
.amain__header__view--link {
  font-size: 30px;
}
.amain__left {
  margin: 30px 10px;
  background-color: #ffe79a;
  border: solid 3px #000000;
  justify-content: center;
}
.amain__left__search {
  margin: 30px 10px;
  background-color: #ffe79a;
  border: solid 3px #000000;
  display: flex;
  justify-content: space-between;
}
.amain__left__search--input {
  height: 40px;
  width: 550px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffc549;
  margin: 5px;
}
.amain__left__search--input:focus {
  outline: none;
}
.amain__left__members {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  height: 75vh;
  overflow-y: auto;
}
.amain__left__members__admin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.amain__left__members__admin__member {
  margin: 0 10px;
  padding: 0 20px;
  background-color: #ffe79a;
  border: solid 3px #000000;
  text-align: left;
}
.amain__left__members__viewer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.amain__left__members__viewer__member {
  margin: 0 10px;
  padding: 0 20px;
  background-color: #ffe79a;
  border: solid 3px #000000;
  text-align: left;
}
.amain__right {
  margin: 30px 10px;
  background-color: #ffe79a;
  border: solid 3px #000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding: 10px;
}
.amain__right--buttons {
  height: 50px;
  width: 150px;
  background-color: #fdd550;
  border: 2px solid #dba226;
}
.amain__right--input {
  height: 25px;
  width: 200px;
  background-color: #ffe79a;
  border: 2px solid #ffc549;
}
.amain__right--input:focus {
  outline: none;
}
.amain__school {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 80px;
  background-color: #fdd550;
  border: solid 3px #dba226;
  font-size: 35px;
  text-align: center;
}

body {
  margin: 0px;
  background-color: #ffe79a;
}

body h1 {
  margin: 0px;
  padding: 0px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px 9fr;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  gap: 0px;
}
.main__header {
  display: flex;
  height: calc(100% - 3px);
  width: calc(100% - 20px - 6px);
  padding: 0 10px;
  background-color: #ffe79a;
  border: solid 3px #fdd550;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.main__header__navigation {
  text-align: right;
}
.main__header__navigation__link {
  margin: 0 10px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}
.main__nav {
  display: flex;
  background-color: #ffe79a;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  flex-direction: column;
  border: 3px solid #fdd550;
  gap: 50px;
  justify-content: center;
  text-align: center;
}
.main__nav__link {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}
.main__info {
  background-color: #ffc549;
  border: solid 3px #fdd550;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px 0 0 10px;
  display: flex;
  gap: 10px;
  width: calc(100% - 10px - 6px);
  height: calc(100% - 10px - 6px);
  overflow: hidden;
  overflow-y: scroll;
  flex-direction: column;
}
.main__info__content {
  width: calc(100% - 40px);
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffe79a;
  border: solid 3px #fdd550;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */